.card__view {
    
    margin-left: 20px;
    margin-bottom: 20px;
}

.card__title{
    text-align: left;
    margin-top: 0px;
}
.card__text{
    text-align: left;
    margin-top: 1px;
    margin-bottom: 1px;
}

.card__rate{
    text-align: left;
    margin-top: 3px;
    margin-bottom: 1px;
}

.card-row{
    display: flex;
    flex-direction: row;
}

.book_button{
    margin-top: 20px;
    text-align: left;
}



@media (max-width : 998px){
    .card__view{
        display: block;
        margin: 60px;
    }
}

