.btn2{
    border-style: none;
    margin-left: 5px;
    margin: 3px;
    font-size: small;
    margin-top: 0px;
    display: inline;
    font-size: medium;
    margin-left: 13px;
    background-color: #FFFFFF;
}


.inner-div{
    align-items: left;
    text-align: left;
    padding-top : 10px;
}
.para{
    font-size: medium;
    margin-top: 2px;
    align-items: left;
    text-align: left;
    
    margin-left: 28px;
}

.footer{
    margin-bottom: 18px;
    border-top: 1px solid #D3D3D3;
}

.left-text{
    display: inline;
    text-align: left;
    position: relative;
    left: 30%;
}

.launguage{
    margin: 4px;
}
.currency{
    margin: 5px;
    margin-left: 10px;margin-right: 10px;
}

@media (max-width : 998px){

    .inner-div{
        text-align: center;
    }
    .para{
        display: block;
        font-size: 10px;
        text-align: center;
        
    }

    .btn2{
            font-size: 10px;
            text-align: center;
            margin-top: 10px;
    }
    .left-text{
        display: block;
        margin-right: 20px;
        margin-top: 15px;
        font-size: 10px;
        width: 240px;
        text-align: center;
    }
}