.bottom-text{
    margin-top: 6px;
    align-items: center;
    text-align: center;
}


.btn1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}



.button{
    border: none;
    background-color: #FFFFFF ;
    margin: 20px;
}

p{
    font-size: small;
}

.house_boat{
    margin-left: 0px;
}




@media (max-width : 998px){

    .btn1{
        text-align: center;
        height: 80px;
        display: inline-block;
        width: 100%;
        overflow-y: scroll !important;
        overflow-x: scroll !important;
    }

    /* .scroll{
        overflow-x: scroll !important;
    } */



    .button{
        margin: 5px;
        text-align: center;
        padding: 4px;
    }
}